@keyframes entrance{
  from { opacity: 0; }
  to { opacity: 1; }
}
@keyframes exit{
  from { opacity: 1; }
  to { opacity: 0; }
}
html, body{
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: rgb(21, 35, 45);
  overflow: hidden;
}
#logo img{
  user-select: none;
  position: fixed;
  width: 70px;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}
#contentWrapper{
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.buttonsHolder{
  width: 100%;
  display: flex;
  justify-content: center;
  padding-bottom: 10px;
  z-index: 10;
  position: relative;
}
.button{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: rgb(21, 35, 45);
  color: white;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  margin: 0 10px;
  cursor: pointer;
  user-select: none;
  border: 1.5px solid white;
  padding: 6px 12px;
  border-radius: 15px;
  transition: .2s ease-out;
}
.button:hover, .button.current{
  background-color: white;
  color: rgb(21, 35, 45);
}
.button:active{
  transform: scale(1.1);
}
.boxHolder{
  position: relative;
  max-width: 550px;
  max-height: 450px;
  background-color: rgba(255, 255, 255, 0.671);
  height: 100%;
  width: 100%;
}
/* Aproximation of Box standart css */
#box-game-panel{
  max-width: 550px;
  max-height: 450px;
  width: 100%;
  height: 100%;
}
#box-game-panel *{
  user-select: none;
}
/* div contaning tries bubles*/
#scoreBoard{
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  font-weight: bold;
  font-family: monospace;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 250px;
  height: 50px;
  font-size: 20px;
}
#tries{
  position: absolute;
  top: 5px;
  left: 50%;
  transform: translateX(-50%);
  font-weight: bold;
  font-family: monospace;
  display: flex;
  /* justify-content: center; */
  /* align-items: center; */
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
#tries div{
  margin: 2px 5px;
}
#wind{
  width: 100%;
  text-align: center;
  font-family: monospace;
  font-weight: bold;
  position: absolute;
  top: 50px;
  left: 50%;
  transform: translateX(-50%);
}
/* #box-game-panel{
  z-index: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);

  max-width: 550px;
  max-height: 600px;
  width: 100%;
  height: 100%;

  animation: entrance .5s cubic-bezier(.25,.46,.45,.94);
  background-color: rgb(236, 236, 236);
  background-image: url('./assets/office.jpg');
  background-position: center;
  background-size: cover;
}
#ball {
  position: absolute;
  background-position: center;
  background-size: 120%;
  border-radius: 80%;
  pointer-events: none;
  border: 1px solid grey;
}
#target {
  z-index: 1;
  position: absolute;
  background-position: center;
  background-size: contain;
  pointer-events: none;
}
#bin {
  position: absolute;
  background-position: center;
  background-size: contain;
  pointer-events: none;
}
.gameInfos{
  position: relative;
  user-select: none;
}
.tries img:first-child{
  width: 30px;
  height: 30px;
}
.score{
  position: absolute;
  top: -5px;
  right: 5px;
  font-size: 25px;
  font-weight: bold;
  font-family: monospace;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.score img:first-child{
  width: 35px;
  height: 35px;
}
#score{
  font-size: 30px;
}

#hitbox{
  background-color: white;
  position: fixed;
  top: 0;
  left: 50%;
  transform: translate(-50%);
  z-index: 5;
} */
